App_WebReferences/unit_convert/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vhost3.cs.rit.edu/UnitConvert/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vhost3.cs.rit.edu/UnitConvert/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_celsiusToFah_InputMessage">
    <wsdl:part name="parameters" element="tns:celsiusToFah" />
  </wsdl:message>
  <wsdl:message name="IService_celsiusToFah_OutputMessage">
    <wsdl:part name="parameters" element="tns:celsiusToFahResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fartoCels_InputMessage">
    <wsdl:part name="parameters" element="tns:fartoCels" />
  </wsdl:message>
  <wsdl:message name="IService_fartoCels_OutputMessage">
    <wsdl:part name="parameters" element="tns:fartoCelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_celciTokelvin_InputMessage">
    <wsdl:part name="parameters" element="tns:celciTokelvin" />
  </wsdl:message>
  <wsdl:message name="IService_celciTokelvin_OutputMessage">
    <wsdl:part name="parameters" element="tns:celciTokelvinResponse" />
  </wsdl:message>
  <wsdl:message name="IService_kelvintoCel_InputMessage">
    <wsdl:part name="parameters" element="tns:kelvintoCel" />
  </wsdl:message>
  <wsdl:message name="IService_kelvintoCel_OutputMessage">
    <wsdl:part name="parameters" element="tns:kelvintoCelResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fartoKelvin_InputMessage">
    <wsdl:part name="parameters" element="tns:fartoKelvin" />
  </wsdl:message>
  <wsdl:message name="IService_fartoKelvin_OutputMessage">
    <wsdl:part name="parameters" element="tns:fartoKelvinResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KelvintoFah_InputMessage">
    <wsdl:part name="parameters" element="tns:KelvintoFah" />
  </wsdl:message>
  <wsdl:message name="IService_KelvintoFah_OutputMessage">
    <wsdl:part name="parameters" element="tns:KelvintoFahResponse" />
  </wsdl:message>
  <wsdl:message name="IService_degreeToRadian_InputMessage">
    <wsdl:part name="parameters" element="tns:degreeToRadian" />
  </wsdl:message>
  <wsdl:message name="IService_degreeToRadian_OutputMessage">
    <wsdl:part name="parameters" element="tns:degreeToRadianResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RadianToDegree_InputMessage">
    <wsdl:part name="parameters" element="tns:RadianToDegree" />
  </wsdl:message>
  <wsdl:message name="IService_RadianToDegree_OutputMessage">
    <wsdl:part name="parameters" element="tns:RadianToDegreeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="celsiusToFah">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/celsiusToFah" message="tns:IService_celsiusToFah_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/celsiusToFahResponse" message="tns:IService_celsiusToFah_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fartoCels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fartoCels" message="tns:IService_fartoCels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fartoCelsResponse" message="tns:IService_fartoCels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="celciTokelvin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/celciTokelvin" message="tns:IService_celciTokelvin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/celciTokelvinResponse" message="tns:IService_celciTokelvin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kelvintoCel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/kelvintoCel" message="tns:IService_kelvintoCel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/kelvintoCelResponse" message="tns:IService_kelvintoCel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fartoKelvin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fartoKelvin" message="tns:IService_fartoKelvin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fartoKelvinResponse" message="tns:IService_fartoKelvin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KelvintoFah">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/KelvintoFah" message="tns:IService_KelvintoFah_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/KelvintoFahResponse" message="tns:IService_KelvintoFah_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="degreeToRadian">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/degreeToRadian" message="tns:IService_degreeToRadian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/degreeToRadianResponse" message="tns:IService_degreeToRadian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RadianToDegree">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RadianToDegree" message="tns:IService_RadianToDegree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RadianToDegreeResponse" message="tns:IService_RadianToDegree_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="celsiusToFah">
      <soap:operation soapAction="http://tempuri.org/IService/celsiusToFah" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fartoCels">
      <soap:operation soapAction="http://tempuri.org/IService/fartoCels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celciTokelvin">
      <soap:operation soapAction="http://tempuri.org/IService/celciTokelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kelvintoCel">
      <soap:operation soapAction="http://tempuri.org/IService/kelvintoCel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fartoKelvin">
      <soap:operation soapAction="http://tempuri.org/IService/fartoKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvintoFah">
      <soap:operation soapAction="http://tempuri.org/IService/KelvintoFah" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="degreeToRadian">
      <soap:operation soapAction="http://tempuri.org/IService/degreeToRadian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RadianToDegree">
      <soap:operation soapAction="http://tempuri.org/IService/RadianToDegree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://vhost3.cs.rit.edu/UnitConvert/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>