App_WebReferences/maps/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://win-r80s3v11i77/google_maps/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://win-r80s3v11i77/google_maps/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://win-r80s3v11i77/google_maps/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Subgurim.Controles" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getDirection_InputMessage">
    <wsdl:part name="parameters" element="tns:getDirection" />
  </wsdl:message>
  <wsdl:message name="IService_getDirection_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDirectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getMarker_InputMessage">
    <wsdl:part name="parameters" element="tns:getMarker" />
  </wsdl:message>
  <wsdl:message name="IService_getMarker_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMarkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getLetGO_InputMessage">
    <wsdl:part name="parameters" element="tns:getLetGO" />
  </wsdl:message>
  <wsdl:message name="IService_getLetGO_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLetGOResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getDirection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDirection" message="tns:IService_getDirection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDirectionResponse" message="tns:IService_getDirection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMarker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getMarker" message="tns:IService_getMarker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getMarkerResponse" message="tns:IService_getMarker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLetGO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getLetGO" message="tns:IService_getLetGO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getLetGOResponse" message="tns:IService_getLetGO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDirection">
      <soap:operation soapAction="http://tempuri.org/IService/getDirection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMarker">
      <soap:operation soapAction="http://tempuri.org/IService/getMarker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLetGO">
      <soap:operation soapAction="http://tempuri.org/IService/getLetGO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://win-r80s3v11i77/google_maps/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>